body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(50, 50, 103);
    color: white; /* Set all text to white */
}

nav a { 
    margin: 0 .5em;
    color: white;
}

table { 
    width: 50%; 
    border-collapse: collapse; 
    margin-top: 1em; 
    margin: auto;
    color: white;
}

th, td { 
    border: 1px solid #ccc; 
    padding: .5em; 
    text-align: left; 
    color: white;
}

.error { 
    color: red; 
}

.login {
    width: fit-content;
    margin: auto;
    padding-top: 30%;
}

.addRepForm label, .addRepForm{
    display: grid;
    text-align: left;
    margin: 10px;
}

input, select, textarea {
    color: black;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    padding: 5px;
}

button {
    cursor: pointer;
    background-color:black;
    border: 1px solid #ccc;
    padding: 5px;
    color:white;
}

.Header {
    text-align: center;
    margin-bottom: 20px;
}

.red-text {
    color: red;
}

.custName {
    font-weight: bold;
}

#report1 {
    text-align: center;
    color: white;
}
#addrep{
    text-align:left;
    color:white;
}

.report-2 h2, .Add-rep h2, .upd-credit h2 {
    width: fit-content;
    display: block;
    margin: 15px auto;
}

.upd-credit form {
    display: grid;
    text-align: left;
    margin: 25px;
}

.report-2{
    justify-content: center;
    text-align: start;
    border:10px groove;
    border-radius:5px;
    width:25%;
    margin:auto;
    margin-top:20px;
    padding-bottom: 15px;
    display: grid;
}

.custNumForm  {
    display: grid;
    text-align: left;
}
.Add-rep{
    border:groove 10px;
    border-radius:5px;
    width:25%;
    margin: 15px auto;
}

.upd-credit{
    justify-content: center;
    text-align: center;
    border:10px groove;
    border-radius:5px;
    width:25%;
    margin:auto;
    margin-top:20px;
}

.logout {
    text-align: center;
    margin-top: 20px;
}

.logout button {
    background-color: black;
    color: white;
    border: 1px white solid;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
}

.logout button:hover {
    background-color: #e60000;
}